$scroll-height: 50px;
$scroll-padding: 10px;
$elements-shown: 4;

$scroll-full-height: $scroll-height+2*$scroll-padding;

.scroll-container {
  border: 5px solid $color-primary;
  border-radius: 50%;
  width: $elements-shown*$scroll-full-height;
  height: $elements-shown*$scroll-full-height;
  overflow-x: hidden;
  position: relative;

  .scroll {
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    margin-left: (($elements-shown - 1)/2)*$scroll-full-height;

    .scroll-element {
      background-color: $color-secondary;
      color: white;
      font-weight: bold;
      width: $scroll-height;
      height: $scroll-height;
      border-radius: 50%;
      text-align: center;
      line-height: $scroll-height;
      margin: $scroll-padding;
      cursor: pointer;

      &:hover {
        background-color: $color-secondary-hover;
      }
    }
  }
}
