$scroll-height: 50px;
$scroll-padding: 10px;
$elements-shown: 4;

$scroll-full-height: $scroll-height+2*$scroll-padding;

.scroll-container {
  border: 5px solid $color-primary;
  border-radius: 50%;
  width: $elements-shown*$scroll-full-height;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;

  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }

  .scroll {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    margin-left: calc(50% - #{$scroll-full-height/2});

    .scroll-element {
      background-color: $color-secondary;
      color: white;
      font-weight: bold;
      width: $scroll-height;
      height: $scroll-height;
      border-radius: 50%;
      text-align: center;
      line-height: $scroll-height;
      margin: $scroll-padding;
      cursor: pointer;
      flex: 0 0 auto;

      &:hover {
        background-color: $color-secondary-hover;
      }
    }
  }
}
